pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
lifelines==0.30.0
xgboost==2.1.1
lightgbm==4.5.0
optuna==4.0.0
torch==2.4.1
transformers==4.44.2
python-docx==1.1.2
matplotlib==3.9.2
seaborn==0.13.2
shap==0.46.0
pyarrow==17.0.0
scikit-survival==0.23.0
scipy==1.14.1
